* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#clock {
    font-size: 36px;
    margin-bottom: 30px;
}

#timeDisplay, #timerDisplay {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007BFF;
    color: #fff;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
}